<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PREVIOUS CLOSE</th>
      <th>OPEN</th>
      <th>HIGH</th>
      <th>LOW</th>
      <th>CLOSE</th>
      <th>GAIN/LOSS</th>
      <th>GAIN/LOSS LOG</th>
    </tr>
    <tr>
      <th>INDEX</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Nifty Auto</th>
      <td>11977.3</td>
      <td>11982.75</td>
      <td>12139.75</td>
      <td>11958.5</td>
      <td>12061.80</td>
      <td>84.50</td>
      <td>0.010</td>
    </tr>
    <tr>
      <th>Nifty50 PR 1x Inv</th>
      <td>246.35</td>
      <td>247.15</td>
      <td>248.0</td>
      <td>246.05</td>
      <td>247.75</td>
      <td>1.40</td>
      <td>0.008</td>
    </tr>
    <tr>
      <th>Nifty50 TR 1x Inv</th>
      <td>211.45</td>
      <td>212.2</td>
      <td>212.9</td>
      <td>211.2</td>
      <td>212.65</td>
      <td>1.20</td>
      <td>0.008</td>
    </tr>
    <tr>
      <th>Nifty GrowSect 15</th>
      <td>7972.15</td>
      <td>7967.35</td>
      <td>8059.85</td>
      <td>7957.6</td>
      <td>8016.75</td>
      <td>44.60</td>
      <td>0.008</td>
    </tr>
    <tr>
      <th>Nifty200Momentm30</th>
      <td>21349.25</td>
      <td>21312.4</td>
      <td>21566.85</td>
      <td>21287.9</td>
      <td>21449.05</td>
      <td>99.80</td>
      <td>0.007</td>
    </tr>
    <tr>
      <th>Nifty Media</th>
      <td>2311.75</td>
      <td>2309.0</td>
      <td>2347.8</td>
      <td>2296.5</td>
      <td>2320.95</td>
      <td>9.20</td>
      <td>0.006</td>
    </tr>
    <tr>
      <th>Nifty Consumption</th>
      <td>7393.2</td>
      <td>7386.6</td>
      <td>7457.1</td>
      <td>7381.85</td>
      <td>7416.30</td>
      <td>23.10</td>
      <td>0.005</td>
    </tr>
    <tr>
      <th>NIFTY Alpha 50</th>
      <td>33799.85</td>
      <td>33822.25</td>
      <td>34280.95</td>
      <td>33793.35</td>
      <td>33876.95</td>
      <td>77.10</td>
      <td>0.003</td>
    </tr>
    <tr>
      <th>Nifty CPSE</th>
      <td>2330.95</td>
      <td>2326.65</td>
      <td>2356.35</td>
      <td>2322.0</td>
      <td>2334.85</td>
      <td>3.90</td>
      <td>0.002</td>
    </tr>
    <tr>
      <th>Nifty GS 4 8Yr</th>
      <td>2482.39</td>
      <td>2482.8</td>
      <td>2486.22</td>
      <td>2481.78</td>
      <td>2486.10</td>
      <td>3.71</td>
      <td>0.002</td>
    </tr>
    <tr>
      <th>NIFTY SMLCAP 100</th>
      <td>11205.35</td>
      <td>11221.55</td>
      <td>11304.2</td>
      <td>11201.65</td>
      <td>11219.40</td>
      <td>14.05</td>
      <td>0.002</td>
    </tr>
    <tr>
      <th>Nifty GS 11 15Yr</th>
      <td>2473.02</td>
      <td>2473.47</td>
      <td>2475.36</td>
      <td>2472.06</td>
      <td>2475.32</td>
      <td>2.30</td>
      <td>0.001</td>
    </tr>
    <tr>
      <th>Nifty GS Compsite</th>
      <td>2363.86</td>
      <td>2364.27</td>
      <td>2365.85</td>
      <td>2363.22</td>
      <td>2365.73</td>
      <td>1.87</td>
      <td>0.001</td>
    </tr>
    <tr>
      <th>Nifty GS 15YrPlus</th>
      <td>2705.06</td>
      <td>2705.57</td>
      <td>2706.78</td>
      <td>2705.57</td>
      <td>2706.78</td>
      <td>1.72</td>
      <td>0.001</td>
    </tr>
    <tr>
      <th>Nifty IT</th>
      <td>36643.85</td>
      <td>36623.75</td>
      <td>36835.95</td>
      <td>36431.25</td>
      <td>36660.90</td>
      <td>17.05</td>
      <td>0.001</td>
    </tr>
    <tr>
      <th>Nifty PSU Bank</th>
      <td>2808.9</td>
      <td>2797.65</td>
      <td>2858.2</td>
      <td>2788.35</td>
      <td>2810.20</td>
      <td>1.30</td>
      <td>0.001</td>
    </tr>
    <tr>
      <th>Nifty GS 8 13Yr</th>
      <td>2294.55</td>
      <td>2294.93</td>
      <td>2295.48</td>
      <td>2293.53</td>
      <td>2295.25</td>
      <td>0.70</td>
      <td>0.000</td>
    </tr>
    <tr>
      <th>Nifty GS 10Yr</th>
      <td>2055.28</td>
      <td>2055.63</td>
      <td>2056.14</td>
      <td>2053.12</td>
      <td>2055.73</td>
      <td>0.45</td>
      <td>0.000</td>
    </tr>
    <tr>
      <th>Nifty GS 10Yr Cln</th>
      <td>928.61</td>
      <td>928.61</td>
      <td>928.84</td>
      <td>927.45</td>
      <td>928.65</td>
      <td>0.04</td>
      <td>0.000</td>
    </tr>
    <tr>
      <th>Nifty50 Div Point</th>
      <td>144.46</td>
      <td>144.46</td>
      <td>144.46</td>
      <td>144.46</td>
      <td>144.46</td>
      <td>0.00</td>
      <td>0.000</td>
    </tr>
    <tr>
      <th>Nifty FMCG</th>
      <td>39014.65</td>
      <td>38992.5</td>
      <td>39346.65</td>
      <td>38953.4</td>
      <td>39013.45</td>
      <td>-1.20</td>
      <td>-0.000</td>
    </tr>
    <tr>
      <th>Nifty MNC</th>
      <td>19700.55</td>
      <td>19667.7</td>
      <td>19771.45</td>
      <td>19633.8</td>
      <td>19691.95</td>
      <td>-8.60</td>
      <td>-0.001</td>
    </tr>
    <tr>
      <th>NIFTY SMLCAP 250</th>
      <td>9784.4</td>
      <td>9798.3</td>
      <td>9852.7</td>
      <td>9762.2</td>
      <td>9776.35</td>
      <td>-8.05</td>
      <td>-0.001</td>
    </tr>
    <tr>
      <th>Nifty Next 50</th>
      <td>44290.2</td>
      <td>44194.2</td>
      <td>44603.5</td>
      <td>44148.95</td>
      <td>44241.45</td>
      <td>-48.75</td>
      <td>-0.002</td>
    </tr>
    <tr>
      <th>NIFTY200 QUALTY30</th>
      <td>15255.7</td>
      <td>15246.5</td>
      <td>15300.45</td>
      <td>15216.1</td>
      <td>15237.95</td>
      <td>-17.75</td>
      <td>-0.002</td>
    </tr>
    <tr>
      <th>NIFTY100 Qualty30</th>
      <td>4004.7</td>
      <td>3999.55</td>
      <td>4017.85</td>
      <td>3994.05</td>
      <td>3998.85</td>
      <td>-5.85</td>
      <td>-0.002</td>
    </tr>
    <tr>
      <th>Nifty50 Value 20</th>
      <td>9078.4</td>
      <td>9067.4</td>
      <td>9120.35</td>
      <td>9047.7</td>
      <td>9063.95</td>
      <td>-14.45</td>
      <td>-0.002</td>
    </tr>
    <tr>
      <th>Nifty Div Opps 50</th>
      <td>3800.85</td>
      <td>3796.05</td>
      <td>3813.3</td>
      <td>3788.45</td>
      <td>3793.25</td>
      <td>-7.60</td>
      <td>-0.003</td>
    </tr>
    <tr>
      <th>Nifty Mid Liq 15</th>
      <td>7818.85</td>
      <td>7809.55</td>
      <td>7840.1</td>
      <td>7776.3</td>
      <td>7795.00</td>
      <td>-23.85</td>
      <td>-0.004</td>
    </tr>
    <tr>
      <th>NIFTY100 LowVol30</th>
      <td>13468.05</td>
      <td>13445.8</td>
      <td>13501.15</td>
      <td>13409.75</td>
      <td>13425.65</td>
      <td>-42.40</td>
      <td>-0.005</td>
    </tr>
    <tr>
      <th>Nifty Metal</th>
      <td>5586.35</td>
      <td>5563.85</td>
      <td>5618.65</td>
      <td>5546.5</td>
      <td>5568.10</td>
      <td>-18.25</td>
      <td>-0.005</td>
    </tr>
    <tr>
      <th>NIFTY MIDSML 400</th>
      <td>11178.2</td>
      <td>11176.4</td>
      <td>11219.3</td>
      <td>11126.55</td>
      <td>11141.60</td>
      <td>-36.60</td>
      <td>-0.005</td>
    </tr>
    <tr>
      <th>NIFTY50 EQL Wgt</th>
      <td>20122.55</td>
      <td>20086.35</td>
      <td>20185.2</td>
      <td>20024.75</td>
      <td>20054.15</td>
      <td>-68.40</td>
      <td>-0.005</td>
    </tr>
    <tr>
      <th>Nifty Serv Sector</th>
      <td>25298.4</td>
      <td>25201.5</td>
      <td>25389.45</td>
      <td>25160.1</td>
      <td>25209.05</td>
      <td>-89.35</td>
      <td>-0.005</td>
    </tr>
    <tr>
      <th>NIFTY100 EQL Wgt</th>
      <td>21413.3</td>
      <td>21370.35</td>
      <td>21486.65</td>
      <td>21301.15</td>
      <td>21334.00</td>
      <td>-79.30</td>
      <td>-0.005</td>
    </tr>
    <tr>
      <th>NIFTY SMLCAP 50</th>
      <td>5450.95</td>
      <td>5456.3</td>
      <td>5471.35</td>
      <td>5421.25</td>
      <td>5430.35</td>
      <td>-20.60</td>
      <td>-0.005</td>
    </tr>
    <tr>
      <th>NIFTY MIDCAP 150</th>
      <td>11960.8</td>
      <td>11950.4</td>
      <td>11987.7</td>
      <td>11892.15</td>
      <td>11908.55</td>
      <td>-52.25</td>
      <td>-0.006</td>
    </tr>
    <tr>
      <th>Nifty Energy</th>
      <td>23944.65</td>
      <td>23880.45</td>
      <td>24082.45</td>
      <td>23774.2</td>
      <td>23837.90</td>
      <td>-106.75</td>
      <td>-0.006</td>
    </tr>
    <tr>
      <th>Nifty 500</th>
      <td>15525.4</td>
      <td>15487.15</td>
      <td>15560.75</td>
      <td>15436.95</td>
      <td>15454.95</td>
      <td>-70.45</td>
      <td>-0.007</td>
    </tr>
    <tr>
      <th>Nifty100 Liq 15</th>
      <td>4570.2</td>
      <td>4551.35</td>
      <td>4587.1</td>
      <td>4541.5</td>
      <td>4549.10</td>
      <td>-21.10</td>
      <td>-0.007</td>
    </tr>
    <tr>
      <th>Nifty PSE</th>
      <td>4081.15</td>
      <td>4076.3</td>
      <td>4100.4</td>
      <td>4055.05</td>
      <td>4061.70</td>
      <td>-19.45</td>
      <td>-0.007</td>
    </tr>
    <tr>
      <th>Nifty 100</th>
      <td>18301.45</td>
      <td>18244.05</td>
      <td>18338.35</td>
      <td>18189.45</td>
      <td>18211.35</td>
      <td>-90.10</td>
      <td>-0.007</td>
    </tr>
    <tr>
      <th>NIFTY AlphaLowVol</th>
      <td>17638.5</td>
      <td>17618.4</td>
      <td>17653.4</td>
      <td>17525.75</td>
      <td>17551.15</td>
      <td>-87.35</td>
      <td>-0.007</td>
    </tr>
    <tr>
      <th>Nifty 200</th>
      <td>9588.5</td>
      <td>9560.6</td>
      <td>9605.1</td>
      <td>9527.65</td>
      <td>9539.00</td>
      <td>-49.50</td>
      <td>-0.007</td>
    </tr>
    <tr>
      <th>Nifty Infra</th>
      <td>5273.8</td>
      <td>5252.0</td>
      <td>5294.0</td>
      <td>5238.5</td>
      <td>5245.60</td>
      <td>-28.20</td>
      <td>-0.008</td>
    </tr>
    <tr>
      <th>Nifty 50</th>
      <td>17999.2</td>
      <td>17939.35</td>
      <td>18022.65</td>
      <td>17879.25</td>
      <td>17898.65</td>
      <td>-100.55</td>
      <td>-0.008</td>
    </tr>
    <tr>
      <th>Nifty FinSrv25 50</th>
      <td>18784.4</td>
      <td>18697.85</td>
      <td>18857.5</td>
      <td>18645.05</td>
      <td>18673.65</td>
      <td>-110.75</td>
      <td>-0.009</td>
    </tr>
    <tr>
      <th>Nifty Midcap 50</th>
      <td>8940.75</td>
      <td>8926.0</td>
      <td>8943.95</td>
      <td>8869.55</td>
      <td>8884.80</td>
      <td>-55.95</td>
      <td>-0.009</td>
    </tr>
    <tr>
      <th>NIFTY MIDCAP 100</th>
      <td>31942.55</td>
      <td>31896.05</td>
      <td>31956.45</td>
      <td>31680.9</td>
      <td>31729.00</td>
      <td>-213.55</td>
      <td>-0.010</td>
    </tr>
    <tr>
      <th>Nifty Fin Service</th>
      <td>18805.75</td>
      <td>18707.85</td>
      <td>18866.4</td>
      <td>18653.5</td>
      <td>18679.95</td>
      <td>-125.80</td>
      <td>-0.010</td>
    </tr>
    <tr>
      <th>Nifty Commodities</th>
      <td>5835.2</td>
      <td>5815.95</td>
      <td>5839.55</td>
      <td>5785.2</td>
      <td>5795.75</td>
      <td>-39.45</td>
      <td>-0.010</td>
    </tr>
    <tr>
      <th>Nifty100ESGSecLdr</th>
      <td>3062.4</td>
      <td>3052.2</td>
      <td>3060.35</td>
      <td>3035.05</td>
      <td>3038.60</td>
      <td>-23.80</td>
      <td>-0.011</td>
    </tr>
    <tr>
      <th>Nifty Pvt Bank</th>
      <td>19704.0</td>
      <td>19604.45</td>
      <td>19758.6</td>
      <td>19512.95</td>
      <td>19542.20</td>
      <td>-161.80</td>
      <td>-0.012</td>
    </tr>
    <tr>
      <th>Nifty50 PR 2x Lev</th>
      <td>9575.85</td>
      <td>9511.25</td>
      <td>9599.55</td>
      <td>9448.05</td>
      <td>9467.95</td>
      <td>-107.90</td>
      <td>-0.016</td>
    </tr>
    <tr>
      <th>Nifty50 TR 2x Lev</th>
      <td>13009.75</td>
      <td>12922.05</td>
      <td>13041.95</td>
      <td>12836.2</td>
      <td>12863.15</td>
      <td>-146.60</td>
      <td>-0.016</td>
    </tr>
    <tr>
      <th>Nifty Pharma</th>
      <td>13798.8</td>
      <td>13796.3</td>
      <td>13800.6</td>
      <td>13592.45</td>
      <td>13621.90</td>
      <td>-176.90</td>
      <td>-0.019</td>
    </tr>
    <tr>
      <th>Nifty Realty</th>
      <td>545.1</td>
      <td>542.8</td>
      <td>546.15</td>
      <td>534.1</td>
      <td>536.15</td>
      <td>-8.95</td>
      <td>-0.024</td>
    </tr>
    <tr>
      <th>Top gainer/losers list for 171121</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>M&amp;M</th>
      <td>EQ</td>
      <td>960.30</td>
      <td>954.45</td>
      <td>-0.61</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>ASIANPAINT</th>
      <td>EQ</td>
      <td>3151.70</td>
      <td>3230.25</td>
      <td>2.49</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>NaN</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Top Five Nifty 50 Gainers:</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>SYMBOL</th>
      <td>SERIES</td>
      <td>CLOSE PRICE</td>
      <td>PREV.CLOSE</td>
      <td>%CHANGE</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>SBILIFE</th>
      <td>EQ</td>
      <td>1187.20</td>
      <td>1153.00</td>
      <td>2.97</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>MARUTI</th>
      <td>EQ</td>
      <td>8274.75</td>
      <td>8050.35</td>
      <td>2.79</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>ASIANPAINT</th>
      <td>EQ</td>
      <td>3230.25</td>
      <td>3151.70</td>
      <td>2.49</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>TATAMOTORS</th>
      <td>EQ</td>
      <td>530.15</td>
      <td>519.05</td>
      <td>2.14</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>POWERGRID</th>
      <td>EQ</td>
      <td>191.05</td>
      <td>187.60</td>
      <td>1.84</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>NaN</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Top Five Nifty 50 Losers:</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>SYMBOL</th>
      <td>SERIES</td>
      <td>CLOSE PRICE</td>
      <td>PREV.CLOSE</td>
      <td>%CHANGE</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>UPL</th>
      <td>EQ</td>
      <td>755.60</td>
      <td>780.05</td>
      <td>-3.13</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>RELIANCE</th>
      <td>EQ</td>
      <td>2464.00</td>
      <td>2517.90</td>
      <td>-2.14</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>BRITANNIA</th>
      <td>EQ</td>
      <td>3615.05</td>
      <td>3690.75</td>
      <td>-2.05</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>IOC</th>
      <td>EQ</td>
      <td>128.45</td>
      <td>131.00</td>
      <td>-1.95</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>AXISBANK</th>
      <td>EQ</td>
      <td>712.35</td>
      <td>726.15</td>
      <td>-1.9</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>